
@font-face {
   font-family: "Hind Madurai";
   font-style: normal;
   font-weight: 300;
   src: url("../fonts/hind-madurai-v10-latin-300.woff2") format("woff2"),
        url("../fonts/hind-madurai-v10-latin-300.woff") format("woff");
 }

 @font-face {
   font-family: "Hind Madurai";
   font-style: normal;
   font-weight: 400;
   src:url("../fonts/hind-madurai-v10-latin-regular.woff2") format("woff2"),
        url("../fonts/hind-madurai-v10-latin-regular.woff") format("woff");
 }

 @font-face {
   font-family: "Hind Madurai";
   font-style: normal;
   font-weight: 500;
   src: url("../fonts/hind-madurai-v10-latin-500.woff2") format("woff2"), 
        url("../fonts/hind-madurai-v10-latin-500.woff") format("woff");
 }

 @font-face {
   font-family: "Hind Madurai";
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/hind-madurai-v10-latin-600.woff2") format("woff2"),
        url("../fonts/hind-madurai-v10-latin-600.woff") format("woff");
 }

 @font-face {
   font-family: "Hind Madurai";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/hind-madurai-v10-latin-700.woff2") format("woff2"),
        url("../fonts/hind-madurai-v10-latin-700.woff") format("woff");
 }

@font-face {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v29-latin-regular.woff") format("woff");
 }

 @font-face {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   src: url("../fonts/roboto-v29-latin-500.woff2") format("woff2"), 
        url("../fonts/roboto-v29-latin-500.woff") format("woff"); 
 }
 
 @font-face {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/roboto-v29-latin-700.woff2") format("woff2"),
        url("../fonts/roboto-v29-latin-700.woff") format("woff"); 
 }
 
@font-face {
   font-family: "Fredoka One";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/fredoka-one-v12-latin-regular.woff2") format("woff2"),
        url("../fonts/fredoka-one-v12-latin-regular.woff") format("woff");
 }
 * {
    box-sizing: border-box;
}
body{
box-sizing: border-box;
font-family: "Roboto", sans-serif;
font-family: "Hind Madurai" sans-serif;
font-family: "Fredoka One" sans-serif;
}

      /* Header-section */
.site-header {
   background-color: rgb(242, 206, 218,0.3)
}
.container{
   width: 1240px;
   padding: 0 20px;
   margin-right: auto;
   margin-left: auto;
}
.header-section {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.section-list {
   width: 450px;
   display: flex;
   list-style-type: none;
   justify-content: space-between;
}
.list-item {
   width: 41px;
   height: 18px;
   color: #150101;
   opacity: 0.6;
   text-decoration: none;
}
.list-item:hover {
   color: #D23166;
}
.button-bos {
  width: 165px;
  height: 49px;
  left: 1205px;
  top: 25px;
  /* margin-bottom: 210px; */
  background: #D23166;
  border-radius: 5px;
  color: white;
  border: none;
}
.button-bos:hover{
  background-color: #FAFAFA;
  border: 2px solid #D23166;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ff0000;
}
 
/* hero-section */
.hero-section {
   padding-top: 70px;
   padding-bottom: 50px;
   background: rgb(242, 206, 218,0.3);
}
.hero-img{
   padding-bottom: 200px;
   padding-top: 160px;
   
   background-image: url(../img/first.png);
   background-repeat: no-repeat;
   background-position: top 0 right -150px ;
}
.hero-text {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.1em;
   color: #0F0101;
}
.hero-text-1 {
   margin-top: 0;
   font-family: Fredoka One;
   width: 665px;
   font-style: normal;
   font-weight: normal;
   font-size: 57.33px;
   line-height: 120.5%;
   color: #0F0101;
   opacity: 0.9;
}

.hero-text-2 {
   width: 523px;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 27px;
   color: #0F0101;
   opacity: 0.6;
}
.span-color {
   color: red;
}
      /* hero-end */

      /* help-section */
.ul-section {
   display: flex;
   padding-top: 60px;
   padding-bottom: 60px;
   padding-left: 0%;
   padding-right: 0%;
   justify-content: space-between;
   list-style-type: none;
}
.li-section{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 30px;
   padding-bottom: 20px;
   text-align: center;
   width: 250px;
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.03);
   box-sizing: border-box;
   border-radius: 7px;
}
.li-section:hover {
   background: #FFFFFF;
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
   border-radius: 7px;
}
            /* delivery */
.delivery-section {
   left: -9px;
   background: #F8EDF0;
}
.delivery-box {
  margin-top: 150px;
}
.delivery-text {
   width: 349px;
   font-weight: 600;
   font-size: 44.2px;
   line-height: 49px;
}
.delivery-text-info {
   width: 442px;
   font-size: 16px;
   line-height: 24px;
   opacity: 0.6;
}
.deleviry-items {
   display: flex;
}
.ice-cream-page {
   width: 655px;
   height: 656px;
}
   /* product-sitem */
.product-item {
   text-align: center ;
   font-size: 44.2px;
   line-height: 61px
}
.product-list {
   display: flex;
   justify-content: space-evenly;
   list-style-type: none;
}
.product-link {
   text-decoration: none;
   font-size: 18px;
   opacity: 0.6;
   transition: 500ms ease;
}
.product-link:hover {
   box-shadow: 0 4px #D64374;
}
.dad-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.product-header{
 
width: 178px;
height: 28px;
padding: 0;
margin: 0;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}
.product-item {
   display: flex;
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
  
   font-size: 44.2px;
   line-height: 61px;
}
.product-paragraph {
   width: 454px; 
   font-size: 16px;
   line-height: 24px;
   opacity: 0.7; 
}
.product-clients {
   width: 245px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.product-cost {
   width: 71px;
   height: 27px;
   left: 916px;
   top: 2342px;
   font-weight: 500;
   font-size: 26px;
   line-height: 36px;
}
.product-cost-number {
   font-weight: 500;
   font-size: 26px;
   line-height: 36px;
}
.product-past-cost {
   text-decoration: line-through;
   margin-left: 5px;
   font-size: 20px;
   line-height: 28px;
   text-decoration-line: line-through;
   opacity: 0.7;
}
.product-comment {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 300px;
}

   /* end-products-section */

     /* informationsection */
.information-section {
   padding-top: 60px;
   padding-bottom: 40px;
   background-color:#F8EDF0;
}

.information-section-item {
   display: flex;
   justify-content: space-between;
}
.infor-header {
   width: 621px;
   font-size: 44.2px;
   line-height: 52px;
}
.infor-paragraph {
   width: 607px;
   line-height: 21px;
   letter-spacing: 0.01em;
   opacity: 0.7;
}
.infor-select {
   display: flex;
}
.infor-page {
   margin-left: 10px;
}
.internet-sites {
   display: inline;
}
.internet-sites-link {
  display: flex; 
  align-items: center; 
} 
    /* informationsection */

   /* forms-ection */
.form-section {
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
}
.form-section-text {
   

width: 522px;
height: 123px;
margin-left: 260px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
text-align: center;
}
.button-between {
   display: flex;
   align-items: center;
}
.form-section-type {
   width: 522px;
   line-height: 52px;
}
.form-section-item{
      width: 303px;
      height: 74px;
      margin-left: 30px;
      margin-bottom: 30px;
      padding: 30px;
}
    
.form-item {
      width: 540px;
      height: 74px;  
      margin-left: 30px;
      padding: 30px;
}
.form-section-button {
  width: 100px;
  height: 74px;
  background: #D64374;
  border-radius: 5px;
  color: #fff;
  border: none;
}
   /* endformsection */
 
       /* footersectionstarts */.footer-heading{
                display: flex;
                justify-content: space-between;
}
.footer{
   margin-top: 70px;
   padding-top: 50px;
   padding-bottom: 50px;
   background: #0A0808;
   color: #FFFFFF;
}
       
.footer-document{
   list-style-type: none;
}
       
.footer-texts{
   margin-top: 70px;
   list-style-type: none;
              
}
.footer-list{
   width: 207px;
   margin-top: 9px;
   margin-bottom: 25px;
   font-family: 'Roboto';
   font-size: 12px;
   line-height: 17px;
   letter-spacing: 0.01em;
   opacity: 0.7;
}
.footer-list-link{
   margin-top: 10px;
   font-family: 'Roboto';
   font-size: 12px;
   line-height: 14px;
   color: #FFFFFF;
   opacity: 0.7;
   text-decoration: none;
       }
.form-item{
   margin-top: 13px;
   margin-bottom: 16px;
   display: flex;
   justify-content: center;
}
.enter-subscribe {
   margin-top: 60px;
}
       
.news{  
   font-family: 'Roboto-semi';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
}
       
       
.footer-text{
   width: 300px;
   padding: 20px 32px;
   background: #0A0808;
   border: 2px solid #D64374;
   box-sizing: border-box;
   border-radius: 5px;
   opacity: 0.5;
}
.footer-list-box{
   display: flex;
   align-items: center;
   list-style-type: none;
}       
       
.footer-button-box{
   margin-top: 2px;
   padding: 17px 18px;
   background-color:#D23166;
   border: 1px solid #D23166;
   font-size: 20px;
   line-height: 23px;
   font-family: 'Roboto-semi';
   color: #FFFFFF;
}
       
   